/* Settings */

@font-face{
    src: url(../assets/fonts/Malaga-OT-Reg-Italic.ttf);
    font-family: malaga;
}

@font-face{
    src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
    font-family: 'Titillium Web';
}

@font-face{
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
    font-family: 'Titillium Web';
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
}



/* header */

header {
    display: grid;
    grid-template-rows: 140px 160px 1fr 15rem;
    grid-template-columns: 1fr;

    background:linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.1)), url(../assets/images/bgtop2.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1400px;
    background-position: 0cm 8rem;
} 

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1/-1;
}

nav h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 6rem;
}

nav h1 span {
    color: #5B4295;
}

.languages ul {
    display: flex;
    align-items: center;
}
.languages li {
    font-size: 1em;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-right: solid 1px black;
    transform: skewX(-10deg);
}
.languages li:last-child {
    border: none;
}

.languages li:hover {
    border-bottom: solid 1px purple;
}

.menu {
    display: flex;
    width:100%;
    margin-top: 6.4rem;
    justify-content: space-between;
}

.menu p {
    font-size: 1em;
}
.menu p:hover {
    font-size: 1.3em;
}

.fa-sign-in-alt{
    size: 7x;
    position: relative;
    top: 0.3rem;
}

.menu :last-child {
    /* Add gradient and color */
    background-color: #616DC3;
    color: white;
    border-radius: 18px;
    width: 91px;
    height: 40px;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}
.empty-space-nav {
    flex-basis: 20rem;
}

/* Landing page */

.landing-page {

    grid-row: 3;
    grid-column: 1/-1;
    text-align: center;
}

.landing-page h2 {
    font-size: 3.7em;

}

.landing-page p {
    font-size: 2.3em;
}

.landing-page p span {
    color:red
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3rem;
}

.buttons p {
    font-size: 1em;
    font-weight: bold;
}

.buttons i {
    background-color: #794F81;
    color: white;
    border-radius: 25px;
    height: 3rem;
    width: 3rem;    
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    margin-left: 1.5rem;
}

.create-account {
    background-color: #61497B;
    color: white;
    border-radius: 25px;
    width: 15rem;
    height: 3em;
    text-align: center;
    justify-content: center;
    padding-top: 0.5rem;
    font-weight: bold;
}

.social-media-links {
    position: absolute;
    top: 20rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
}

.social-media-links i {
    margin: 0.8rem;
}



/* Profits */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}




/* Main */

.heading-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inner-container {
    display: flex;
    flex-direction: column;
}



.swiss-privacy {
    padding-right: 3rem;
    border-right: solid 1px black;
}


.empty-space-profits {
    height: 8rem;
}


.swiss-privacy img {
    width: 67px;
}

.swiss-privacy h2 {
    font-size: 1.8em;
    float: right;
}

.data-security {
    font-size: 2.2em;
}
.swiss-privacy p {
    font-size: 0.9em;
}



.double-encryption {
    padding-left: 3rem;
    padding-right: 3rem;
    border-right: solid 1px black;
}

.double-encryption h2{
    font-size: 1.8em;
}

.double-encryption p{
    font-size: 0.9em;
}

.automatic {
    font-size: 1.8em;
}
.double-encryption img {
    width: 95px;
}


.anonymous-email {
    padding-left: 3rem;
}
.anonymous-email h2{
    font-size: 1.8em;
}

.anonymous-email p {
    font-size: 0.9em;
}
.anonymous-email img {
    width: 70px;
}

.protect {
    font-size: 1.8em;
}



.physical-security {
    padding-right: 3rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    align-items: flex-end;

}

.physical-security h2 {
    font-size: 3.8em;
}

.physical-security p {
    font-size: 1.4em;
}

.physical-security p span {
    color: red;
}


.learn-more {
    border-radius: 25px;
    border: 2px solid black;
    padding: 0.6rem;
    padding-left: 30px;
    width: 330px;
    height: 50px;
    font-size: 1em;
    background-color: white;
    position: relative;
    left: 41rem;
    top: -1.5rem;
}

.reviewers-image{
    position:absolute;
    left: 0rem
}


.empty-space-reviews{
    height: 8rem;
}

main {
    background-image: url(../assets/images/second_bg.png);
    background-repeat: no-repeat;
    background-position: 0cm 54rem;
}

.reviews-and-portability{
    display: grid;
    grid-template-columns: 0.8fr 20% 20% 20% 2.2fr;
    grid-template-rows: 15rem 15rem 8rem;
    border-bottom: solid 1px black;
    background-image: url(../assets/images/laptop.png);
    background-repeat: no-repeat;
    background-position: 30rem;
    background-size: 40%;

}

.reviews {
    grid-row: 1;
    grid-column: 2/4;
}

.reviews p {
    font-family: malaga;
    font-size: 1.4em;
}

.review span {
    font-size: 1em;
}

.portability {
    grid-row: 2;
    grid-column: 3/5;
    text-align: right;
}

.portability h2 {
    font-size: 2.2em;
}

.portability p {
    font-size: 1em;
}

.portability img {
    width: 200px;
}





/* privacy */

.privacy {
    padding-top: 4rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 1px black;
}

.privacy h2 {
    font-size: 2.2em;
}

.privacy p {
    font-size: 1.8em;
}


.privacy-buttons {
    display: flex;
}

.privacy-buttons :first-child {
    background-color: #603F75;
    color: white;
    border-radius: 25px;
    height: 3rem;
    width: 15rem;    
    text-align: center;
    justify-content: center;
    padding-top: 0.7rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1em;
    font-weight: bold;
}

.privacy-buttons :last-child {
    background-color: #548BE8;
    color: white;
    border-radius: 25px;
    height: 3rem;
    width: 10rem;    
    text-align: center;
    justify-content: center;
    padding-top: 0.7rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1em;
    font-weight: bold;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
    border-right: solid 1px black;
}

.sponsors {
    grid-row: 1;
    grid-column: 1;
}
.sponsors img {
    grid-row: 2;
    position: relative;
    left: 15rem;

}

.sponsors p {
    font-size: 1em;
    text-align: end;
}

.bottom-flex-container {
    padding-top: 5rem;
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
}
.empty-space-bottom1 {
    flex-basis: 15rem;
    flex-shrink: 10;
}

.contact-info {
    font-size: 0.8em;
}
.contact-info a {
    text-decoration: none;
    color: black;
}
.company ul{
    text-align: right;
}

.company p{
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
}

.company li {
    font-size: 0.9;
}
.legal ul {
    text-align: right;
}

.legal p{
    font-size: 1.1em;
    text-align: right;
    font-weight: bold;
}

.legal li {
    font-size: 0.9;
}
.neutron-mail {
    padding-right: 1rem;
}


.neutron-mail p{
    font-size: 1.1em;
    text-align: right;
    font-weight: bold;
}
.neutron-mail ul {
    text-align: right;
}

.neutron-mail li {
    font-size: 0.9;
}

.social-media {
    display: block;
}

.social-media ul {
    display: flex;
}

.social-media li {
    font-size: 0.8em;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: solid 1px black;
    transform: skewX(-10deg);
}

.social-media li:last-child {
    border: none;
}

.rights {
    font-size: 0.6em;
}

.under-footer {
    display: block;
 }

@media (min-width: 1400px) {
    body {
        display: flex;

    }
    .over1400 {
        flex-basis: 1400;
        flex-shrink: 0;
    }
    .empty1400 {
        flex-grow: 2;
        flex-shrink: 2;
    }
}

@media (max-width: 1200px){

    .empty-space-nav {
        flex-basis: 2rem;
        
    }
    .sponsors img {
        position: static;
    }
    .learn-more {
        left: 20rem;
    }
    .physical-security h2 {
        font-size: 3rem;
    }
}


@media (max-width: 800px){
    
    header {
        display: grid;
        grid-template-rows: 140px 160px 1fr 1rem;
        grid-template-columns: 1fr;
    }
    .social-media-links {
        display: none;
    }
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .swiss-privacy {
        border:none;
        padding: 0px;
    }
    .double-encryption {
        border: none;
        padding: 0px;
    }
    .anonymous-email {
        border: none;
        padding: 0px;
    }
    .reviewers-image {
        display: none;
    }
    .bottom-flex-container {
        grid-row: 1;
        flex-direction: column;
        padding-left: 3rem;
    }
    .empty-space-bottom {
        display: none;
    }
    .physical-security {
        border: none;
    }
    .learn-more {
        left: auto;
    }
    .sponsors img {
        display: none;
    }
    .reviews-and-portability {
        background-position: 15rem;
    }
    

    .reviews p{
        font-size: 1rem;
    }
    .portability h2 {
        font-size: 1.5em;
    }
    .company ul{
        text-align: center;
    }
    .company {
        padding-bottom: 2rem;
    }
    .company p{
        text-align: center;
    }
    .legal {
        padding-bottom: 2rem;
    }
    .legal ul {
        text-align: center;
    }

    .legal p{
        text-align: center;
    }
    .neutron-mail {
        padding-bottom: 2rem;
    }
    .neutron-mail p{
        text-align: center;
    }
    .neutron-mail ul {
        text-align: center;
    }
    .under-footer {
        display: none;
    }
}